{% comment %}

  This snippet renders a cart item as a table row in the checkout.

  For more information, see:
   - http://docs.shopify.com/themes/liquid-variables/cart

{% endcomment %}
{% include 'saw_compute_discount' with item.product %}
{% include 'saw_variant' with item.variant %}

<tr>
  <td>
    <a href="#" class="close" title="Remove {{ cart-item.product.title }} from your cart" onclick="remove_item({{cart-item.variant.id}}); return false;">&times;</a>

      <a href="{{ item.product.url }}">
        {{ cart-item.title }}
      </a>
  </td>

  <td class="text-right">                    
      {% if saw_discount == 1 %}
            <small> 
            {% if cart-item.variant.compare_at_price > cart-item.price %}<br />
               <del>{{ cart-item.variant.compare_at_price | money }}</del>
            {% endif %}
            </small>  
      {% else %}
          Your Price {{ saw_variant_price | money }}<br>
          <small class="text-muted">MSRP {{  cart-item.price | money }}</small>

          <!-- line_price:
        {{saw_variant_price | times: cart-item.quantity | money }}<br>
        <del>{{ saw_variant_compare_at_price  | times: cart-item.quantity | money }}</del>
          -->
      {% endif %} 
  </td>

  <td class="text-center">
    <input min="3" type="number" class="form-control text-center" size="4" name="updates[{{cart-item.variant.id}}]" id="updates_{{ cart-item.variant.id }}" value="{{ cart-item.quantity }}" style="width:60px"/>
  </td>

  <td class="text-right">
  {% if saw_discount == 1 %}
      {{ cart-item.line_price | money }}
  {% else %}
        {{saw_variant_price | times: cart-item.quantity | money }}<br>
        <del>
          {{ saw_variant_compare_at_price  | times: cart-item.quantity | money }}
        </del>
  {% endif %} 
  </td>
</tr>