<!-- Wrapping Product Div -->
<div itemscope itemtype="http://schema.org/Product">

  <div class="card">
    <!-- Product Title and Price Information -->
    <div class="card-header padding">
      <h1>
        <span itemprop="name">{{ product.title }}</span>
        <small id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% if product.available %}
            {% if product.compare_at_price_max > product.price %}<del>{{ product.compare_at_price_max | money }}</del> {% endif %}
            {% if product.price_varies %} from {% endif %}
            <span itemprop="price">{{ product.price | money }}</span>
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />

            {% if product.compare_at_price_max > product.price and settings.product_show_sale_tag %}
              <span class="label label-success">SALE</span>
            {% endif %}
          {% else %}
            <em>Currently Unavailable</em>
          {% endif %}

          <!-- Availability Microdata -->
          <meta itemprop="availability" content="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}" />
        </small>
      </h1>
      {% include 'breadcrumbs' %}
    </div>

    <div class="card-body bg-white">
      <!-- Product Details -->
      <div class="row">


        
        <!-- Product Images & Social Widgets -->
        <div class="col-md-4">
          <!-- Primary Image -->
          <p>
            {% if product.images.size > 0 %}
            <a href="{{ product.images | first | product_img_url: 'large' }}" title="{{ product.title | escape }}" class="thumbnail">
              <img src="{{ product.images | first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" itemprop="image" />
            </a>
            {% else %}
            <span class="thumbnail">
              <img src="{{ 'img-no-image.png' | asset_url }}" alt="No Image" />
            </span>
            {% endif %}
          </p>

          <!-- Other Images -->
          {% for image in product.images %}
          {% unless forloop.first %}
            {% capture iteration %}{% cycle '1', '2' %}{% endcapture %}

              {% if iteration == '1' %}
              <div class="row">
              {% endif %}

                <div class="col-sm-6">
                  <p>
                    <a href="{{ image | product_img_url: 'large' }}" title="{{ product.title | escape }}" class="thumbnail">
                      <img src="{{ image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" itemprop="image" />
                    </a>
                  </p>
                </div>

              {% if iteration == '2' or forloop.last %}
              </div>
              {% endif %}
          {% endunless %}
          {% endfor %}

          <!-- Social Widgets -->
          <p>
            {% if settings.product_show_twitter %}
            {% include 'social-widget' with 'twitter' %}
            {% endif %}

            {% if settings.product_show_facebook %}
            {% include 'social-widget' with 'facebook' %}
            {% endif %}

            {% if settings.product_show_pinterest %}
            {% include 'social-widget' with 'pinterest' %}
            {% endif %}
          </p>
        </div> <!-- End Product Images & Social Widgets -->

        <!-- Add to Cart Form -->
        
        <div class="col-md-4 col-md-push-4">
         
        {% assign variantCount = product.variants | size %}

        {% for variant in product.variants %}
          {% if variant.title contains "Default" %}

            <form action="/cart/add" method="post" class="variants form-inline" id="product-actions-{{ variant.id }}" enctype="multipart/form-data" style="padding:0px;">
              <div class="form-group">
                {% if variant.available %}
                  <input type="hidden" name="id" value="{{ variant.id }}" />
                  <input class="form-control" type="number" value="3" min="3" name="quantity">
                  <button class="btn pink add-to-cart-btn" type="submit">Add to Cart</button>
                {% else %}
                  <!-- cnt MODAL to email if item is sold out -->
                  <a href="#-{{variant.id}}" class="btn btn-secondary BIS_trigger in-stock-modal" data-product-handle="{{ variant.handle }}">
                    Email When Available
                  </a>  
                  <!-- end modal -->                          
                {% endif %}
              </div>
            </form> 
                 
          {% else %}
          {% endif %}
        {% endfor %}
{% comment %}
          <form action="/cart/add" method="post" role="form" >

            <!-- Product Variants -->
            {% if product.variants.size > 1 %}
              <div class="form-group">
                <select id="product-select" name="id" class="form-control">
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                  {% endfor %}
                </select>
              </div>
            {% else %}
              
            {% endif %}

            <!-- Add To Cart Button -->
            <div class="form-group">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <input class="form-control" type="number" value="3" min="3" name="quantity" style="width:65px">
              <button type="submit" class="btn btn-lg btn-default add-to-cart-btn">Add to Cart</button>
            </div>

          </form>

{% endcomment %}          
        </div> <!-- End Add to Cart Form -->

        <!-- Product Description -->
        <div class="col-md-4 col-md-pull-4" itemprop="description">
          {{ product.description }}
        </div> <!-- End Product Description -->  
      </div>

      <!-- Additional Image Thumbnails for mobile devices, and pager for navigation between collection products. -->
      <div class="row">

        <!-- Additional Image Thumbnails for mobile devices. -->
        <div class="col-md-4">
          {% for image in product.images %}
          {% unless forloop.first %}
            <a href="{{ image | product_img_url: 'large' }}" title="{{ product.title | escape }}" class="thumbnail visible-xs">
              <img src="{{ image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
            </a>
          {% endunless %}
          {% endfor %}
        </div>

        <!-- Navigation between products in a collection: see http://wiki.shopify.com/How_to_Navigate_within_a_Collection -->
        <div class="col-md-8">
          {% if collection %}
          <hr />
          <ul class="pager">
            {% if collection.previous_product %}
              <li class="previous"><a href="{{ collection.previous_product }}">&larr; Previous</a></li>
            {% else %}
              <li class="previous disabled"><a href="#">&larr; Previous</a></li>
            {% endif %}

            {% if collection.next_product %}
              <li class="next"><a href="{{ collection.next_product }}">Next &rarr;</a></li>
            {% else %}
              <li class="next disabled"><a href="#">Next &rarr;</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div> <!-- End wrapping product div. -->